.sort-btn{
    color: rgb(200,200,200);
}
.sort-btn:hover{
    color: black;
}

.sort-btn-active{
    color: black;
}

.border-tr{
    border: 1px solid #d6d6d6 !important;
}
/*
*{
    font-size: 13px !important;
}
*/
.page-title{
    font-size: 15px !important;
}